* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

.header {
    height: 10vh;
    border-collapse: collapse;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    background-color: #A3B18A;
    color: #3A5A40;
}

.body {
    height: 80vh;
    background-image: url("./images/brocolli.png");
    background-size: 200px;
}

.background {
    background-image: url("https://unsplash.com/photos/FZJO5-NFVzI");
}

.title {
}