* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

.header {
    height: 10vh;
    border-collapse: collapse;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    background-color: #dee8d0;
    color: #3A5A40;
}

.body {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("./images/broccoli-bg.png");
    background-size: cover;
    border-top: solid 2px #3A5A40;
    border-bottom: solid 2px #3A5A40;
}

.footer {
    height: 10vh;
    border-collapse: collapse;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    background-color: #dee8d0;
    color: #3A5A40;
}

.button {
    background-color: #dee8d0;
    padding: 15px;
    border: solid 2px #3A5A40;
    font-size: large;
    color: #3A5A40;
}

.popup {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50vw;
    height: 50vh;
    background-color: #dee8d0;;
    border: solid 2px #3A5A40;
}