* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

.header {
    height: 10vh;
    border-collapse: collapse;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #588157;
    color: #ffffff;
}

.background {
    background-image: url("https://unsplash.com/photos/FZJO5-NFVzI");
}